/* Universal Styles */

html {
  font-size: 16px;
}

body {
  font-family: "Helvetica", sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.fixed-panel {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

/* Typography Styles */

p {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  color: white;
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  line-height: 2.8rem;
}

h2 {

}

h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

/* Header Logo Panel Styles */

header {
  background-color: black;
  max-height: 3rem;
  width: 100%;
}

header .flex-container {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.logo {
  max-width: 30px;
  padding: 10px;
}

.logotext {
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  align-items: center;
}

/* Leader Banner Styles */

.leader {
  min-height: 400px;
  background-image: url("../../resources/img/moto.jpeg");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: flex-end;
}

.leader-text {
  background-color: black;
  padding: 2rem;
  max-width: 380px;
  opacity: 0.9;
}

.leader-text h3 {
  margin-bottom: 1rem;
}

.leader .flex-container {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

/* Nav Category Styles */

.category .flex-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.category {
  height: 3rem;
  background-color: maroon;
}

.navlinks a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
.navlinks span {
  align-items: center;
  justify-content: space-between;
}


/* Footer Styles */

footer {
  background-color: black;
  height: 10rem;
  width: 100%;
}

footer .flex-container {
width: 100%;
  justify-content: flex-start;
  align-items: center;
}

footer p {
  color: white;
}
